@font-face {
	font-family: 'Pragmatica';
	src: local('../fonts/Pragmatica Cond Light'), local('Pragmatica-Cond-Light'),
			url('../fonts/PragmaticaCond-Light.woff2') format('woff2'),
			url('../fonts/PragmaticaCond-Light.woff') format('woff'),
			url('../fonts/PragmaticaCond-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


	@mixin text {
		font-family: 'Pragmatica', serif;
	}

	$title_white: #fff;
	$title_black: #000;
	$highlight: #fbbd28;
	$main-bg: #042d4d;
	$secondary-bg: #fff;
	
	html{
		font-size: 10px;
		color: #fff;
	}
	body {
		font-family: 'Pragmatica', serif;
		&.lock{
			overflow: hidden;
		}
	}
	
	
	.logo{
		width: 100%;
	}
	
	.wrap-overlap{
		background: $main-bg;
	}
	
	.title{
		text-transform: uppercase;
		
		h2{
			font-size: 5rem;
			span{
				padding: 0 3rem;
				border-bottom: 5px double;
			}
		}
		p{
			margin: 4rem 0 1rem;
			font-size: 2.3rem;
		}
	}
	
	.hat{
		padding: 1.5rem 0 2.5rem;
		&__link{
			display: block;
			margin-top: 1.6rem;
			font-size: 2.7rem;
			color: $title_white;
			&--highlighted{
				text-decoration: underline;
				margin-top: -0.1rem;
			}
			&:hover{
				color: $highlight;
			}
		}
	}
	
	.slider{
		.slick-dots{
			position: absolute;
			bottom: 4%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.slick-dots li{
			
			list-style: none;
		}
		.slick-dots li.slick-active button{
			background: transparent;
			border: 2px solid $highlight;
		}
		.slick-dots li button{
			margin: 0 15px;
			font-size: 0;
			width: 15px;
			height: 15px;
			background-color: $highlight;
			border-radius: 50%;
		}
		.slick-arrow{
			position: absolute;
			top: 50%;
			z-index: 100;
			font-size: 0;
		}
		.slick-arrow.slick-prev{
			left: 5%;
			height: 6rem;
			width: 6rem;
			background: url(../img/slider/prev.png) 0 0 no-repeat;
			background-size: cover;
			&:hover{
				background: url(../img/slider/prev_oppasiti1.png) 0 0 no-repeat;
				background-size: cover;
			}
		}
		.slick-arrow.slick-next{
			right: 5%;
			height: 6rem;
			width: 6rem;
			background: url(../img/slider/next.png) 0 0 no-repeat;
			background-size: cover;
			&:hover{
				background: url(../img/slider/next_oppasiti1.png) 0 0 no-repeat;
				background-size: cover;
			}
		}
		img{
			width: 100%;
		}
	}
	
	.row{
		&-absolute{
			position: absolute;
			top: 20rem;
			right: 12%;
			z-index: 10;
		}
	}
	
	.header{
		background: url(../img/overlap_bg.png);
		&-contant{
			color: $title_white;
			text-shadow: 2px 3.5px 0 rgba(0, 0, 0, 0.75);
			text-align: right;
			h1{
				font-size: 5rem;
			}
			.line{
				background: $title_white;
				border-radius: 50%;
				height: 2px;
			}
			p{
				font-size: 2.4rem;
			}
		}
	}
	
	.nav{
		&-line__top{
			display: inline-block;
			background: $main-bg;
		}
		&-line__end{
			display: inline-block;
			background: $main-bg;
		}
		&-top{
			position: -webkit-sticky;
			position: sticky;
			margin: -4.5rem 0 0;
			z-index: 1000;
			top: 0;
			background: $main-bg;
			text-shadow: none;
			height: 7.7rem;
			ul{
				padding-left: 0;
			}
			&__link{
				display: inline-block;
				list-style: none;
				height: 100%;
				font-size: 2.5rem;
				margin-left: -2px;
				a{
					display: block;
					padding: 2rem 3rem 2rem;
					color: $title_white;
					&:active{
						background: $highlight;
						color: $title_black;
					}
					&:focus{
						background: $highlight;
						color: $title_black;
					}
					&:hover{
						background: darken($highlight, 5%);
						color: darken($title_white, 5%);
						text-decoration: none;
					}
				}
			}
		}
	}
	
	.service{
		background: url(../img/overlap_bg.png), 
		url(../img/service/bg.png) 0 0 / 100% no-repeat;
		background-size: cover;
		&-title{
			position: absolute;
			bottom: 5rem;
			right: 0;
			h2{
				text-align: right;
				font-size: 5rem;
				color: $main-bg;
				text-shadow: 2px 3.5px 0 #ffffff;
			}
		}
		&-aside{
			background: rgba( 4, 45, 77, 0.8 );
			padding: 3rem 2.5rem 4.2rem;
			h2 {
				text-align: center;
				margin-bottom: 1rem;
				font-size: 4rem;
				color: $title_white;
				text-transform: uppercase;
			}
			.highlight{
				display: block;
				font-size: 3.5rem;
				margin-bottom: 4rem;
				padding: 1rem 0;
				color: $highlight;
				text-transform: uppercase;
				border-bottom: 6px  double $title_white;
			}
			p{
				text-align: right;
				margin: 1.5rem 0;
				line-height: 1.3;
				font-size: 2.4rem;
				color: $title_white;
			}
		}
	}
	
	.specifications{
		padding: 8rem 0;
		&-title{
			p{
				font-weight: 700;
			}
		}
		&-contant{
			margin: 3rem 0 3.5rem;
			&__main{
				p{
				font-size: 2.7rem;
				}
			}
			&__text{
				text-align: left;
				background: $highlight;
				padding: 2rem 1.5rem;
				p{
					margin: 1.2rem 0;
					font-size: 1.9rem;
					line-height: 1.2;
					span{
						font-weight: 700;
					}
				}
			}
			&__img{
				padding: 0;
				img{
					width: 100%;
				}
			}
		}
	} 

.decision{
	background: $main-bg url(../img/overlap_bg.png);
	color: $title_white;
	font-weight: 200;
	padding: 8rem 0 0;
	&-title{
		padding: 0 0 3rem;
	}
	&-img{
		width: 100%;
	}
	ul{
		font-size: 2.3rem;
		list-style: square;
		margin-bottom: 6rem;
	}
	&-footer{
		text-align: center;
		font-size: 2rem;
		&__start{
			&--left{
				padding-left: 5rem;
			}
			&--right{
				padding-right: 3rem;
			}
		}
		&__end{
			&--center{
				padding-left: 1.3rem;
			}
		}
		&__center{
			margin: 3rem 0 2rem;
		}
	}
}

.advantages{
	background: $secondary-bg;
	background: url(../img/overlap_bg.png), url(../img/advantages/main-bg.png), 0 0 / 100% no-repeat;
	margin-top: 8rem;
	color: $title_white;
	&-title{
		padding: 10rem 0 15rem;
	}
	&-contant{
		&__img{
			max-width: 195px;
		}
		p{
			padding: 3rem 0 15rem;
			font-weight: 200;
			font-size: 2.7rem;
			line-height: 1.2;
		}
	}
}

.additional{
	padding: 8rem 0 0;
	&-title{
		padding: 0 0 5rem;
	}
	&-content{
		p{
			font-size: 2.4rem;
			font-weight: 200;
			line-height: 1.2;
			margin: 0 0 2rem;
		}
	}
	&-main{
		background-color: $highlight;
		&__box{
			padding: 0;
			&-text{
				display: flex;
				align-items: center;
				justify-content: center;
				background: url(../img/additional/bg-text.png) 0 0 / 100%;
				a{
					text-transform: uppercase;
					display: inline-block;
					height: 100%;
					padding: 10rem 0;
					font-size: 2rem;
					color: $title_black;
				}
			}
			&-img{
				width: 100%;
			}
		}
	}
}

.footer{
	margin: 7rem 0 0;
	background: $main-bg url(../img/overlap_bg.png);
	position: relative;
	height: 63rem;
	iframe{
		width: 100%; 
		height: 450px; 
		position: relative;
		margin: 8rem 0;
	}
	&-info{
		background: rgba(255, 255, 255, 0.6);
		position: absolute;
		z-index: 10;
		right: 10%;
		top: 20%;
		padding: 3rem 1rem;
		color: $title_black;
		font-size: 2rem;
		h2{
			font-weight: 700;
			text-transform: uppercase;
			font-size: 2.5rem;
		}
		a{
			font-weight: 700;
			color: $title_black;
			text-decoration: underline $main-bg;
			&:hover{
				color: $highlight;
				text-decoration: none;
			}
		}
	}
}

.popup {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	top: 0;
	left: 0;
	z-index: 1000;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 3rem 1rem;
	}
	&__content {
		position: relative;
		background-color: $title_white;
		width: 28rem;
		padding: 3rem 2rem 1rem;
		transition: all 0.5s ease 0s;
		opacity: 0;
		transform: translate(0, -100%);
	}
	&__close {
		position: absolute;
		right: 10px;
		top: 0px;
		font-size: 3.5rem;
		text-decoration: none;
		color: $title_black;
		&:hover{
			color: $highlight;
		}
	}

	&__text {
		font-size: 2rem;
		.form{
			label{
				margin: 0;
			}
			input, textarea{
				display: block;
				width: 100%;
				margin-bottom: 10px;
				padding: 5px 10px;
				border-radius: 7px;
				border: 2px solid $highlight;
				&:active, &:focus{
					outline: none;
				}
			}
			button{
				display: block;
				width: 100%;
				margin-bottom: 10px;
				padding: 5px 10px;
				border-radius: 7px;
				background: $highlight;
				outline: none;
				border: none;
				&:hover{
					background: darken($highlight,5%);
				}
				&:active{
					color: $title_white;
				}
			}
		}
	}
	&:target {
		opacity: 1;
		visibility: visible;
		.popup__content{
			transform: translate(0, 0);
			opacity: 1;
		}
	}
}

@media (max-width: 1700px){
	.row{
		&-absolute{
			right: 6%;
		}
	}
}
@media (max-width: 1200px){
	html{
		font-size: 9px;
	}
	.row{
		&-absolute{
			width: 80%;
			right: 5%;
		}
	}
	.specifications-contant__text{
		padding: 1rem;
	}
	.footer{
		height: 67rem;
	}
}
@media (max-width: 998px){
	.hat{
		text-align: center;
	}
	
	.nav{
		&-top{
			background: none;
		}
		&-line__top{
			display: block;
			border-bottom: 1px solid $highlight;
			background: $main-bg;
			a{
				padding: 1rem 2rem 0.5rem; 
			}
		}
		&-line__end{
			border: 1px solid $highlight;
			border-top: none;
			border-bottom-left-radius: 7px;
			border-bottom-right-radius: 7px;
			margin-top: -0.1rem;
			a{
				padding: 0.1rem 2rem 1rem;
			}
		}
	}	
	.service{
		margin-top: -2.5rem;
		h2{
			font-size: 3rem;
		}
		p{
			font-size: 1.5rem;
		}
		&-aside{
			padding: 7rem 2rem 2rem;
		}
	}
	.additional-main{
		background: none;
		&__box-text{
			a{
				margin-top: 6rem;
			}
		}
	}
	.footer{
		&-info{
			right: 2rem;
			top: 22rem;
		}
	}
}

.swal-text {
  margin: 2rem;
	text-align: center;
  color: $title_black;
}
.swal-button {
  padding: 7px 19px;
  border-radius: 7px;
  background-color: $highlight;
  font-size: 12px;
  border: 1px solid $highlight;
	&:active{
		background-color: darken($highlight, 3%);
	}
	&:hover{
		background-color: darken($highlight, 5%) !important;
	}
}

@media (max-width: 768px){
	.hat{
		&__link{
			margin-top: 0;
		}
	}
	.row-absolute{
		h1{
			font-size: -3rem;
		}
		top: 17rem;
		p{
			display: none;
		}
	}
	.decision-footer{
		&__start--left{
			text-align: left;
		}
		&__start--right{
			text-align: right;
		}
		&__end--left{
			text-align: left;
		}
		&__end--right{
			text-align: right;
		}
	}
	.advantages{
		background: none;
		background: $main-bg url(../img/overlap_bg.png);
		&-title{
			padding-bottom: 4rem;
		}
		&-contant{
			p{
				padding-bottom: 3rem;
			}
		}
	}
	.additional-main__box-text{
		height: 29rem;
	}
	.footer-info{
		width: 32rem;
	}
}
@media (max-width: 740px){
	.row-absolute{
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}
}
@media (max-width: 576px){
	.row-absolute{
		display: none;
	}
	.service{
		&-title{
			position: static;
			margin-top: 5rem;
			h2{
				text-align: left;
			}
		}
	}
	.footer-info{
		top: 34rem;
		font-size: 1.75rem;
		width: 90%;
		&__start{
			width: 49%;
			display: inline-block;
		}
		&__end{
			width: 49%;
			display: inline-block;
		}
	}
}
@media (max-width: 495px){
	.nav{
		&-top{
			background: $main-bg;
			position: static;
			padding: 0 0 10rem;
		}
		&-line__top{
			border: none;
		}
		&-line__end{
			position: static;
			display: block;
			border: none;
		}
	}
	.service{
		margin-top: 0;
		&-title{
			padding: 0;
			margin: 0;
		}
	}
}
@media (max-width: 440px){
	.nav{
		&-top{
			padding: 0 0 15rem;
		}
	}
	.decision-footer{
		&__start, &__end{
			display: none;
		}
		&__center{
			margin: -4rem 0 0;
			padding-bottom: 4rem;
		}
	}
}
@media (max-width: 415px){
	.nav{
		&-top{
			display: none;
		}
	}
	.service{
		margin-top: -4rem;
	}
}
@media (max-width: 380px){
	.hat{
		&__link{
			font-size: 2.3rem;
		}
	}
	.footer-info{
		display: none;
	}
}

