@font-face {
	font-family: 'Proxima Nova_Reg';
	src: local('../fonts/Proxima Nova Regular'), local('Proxima-Nova-Regular'),
			url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
			url('../fonts/ProximaNova-Regular.woff') format('woff'),
			url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova_Bold';
	src: local('../fonts/Proxima Nova Bold'), local('Proxima-Nova-Bold'),
			url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
			url('../fonts/ProximaNova-Bold.woff') format('woff'),
			url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@mixin reg() {
	font-family: 'Proxima Nova_Reg', sans-serif;
}
@mixin bold() {
	font-family: 'Proxima Nova_Bold', sans-serif;
}

$icon: #70c849;
$icon-dark: #358b11;
$text: #292929;
$btn: #ffba15;
$light: #ffffff;
$btn-text: #ffffff;
$bg-fon: #f5f5f5;
$border-input: #dddddd;
$bg-Additional_services: #286b0a;
$bg-smok: #ededed;

html{
	@include reg();
	font-size: 10px;
	min-height: auto;
}
a:hover{
	text-decoration: none;
}
button, input, a, textarea {
	&:focus{
		outline: none;
	}
}
section{
	padding: 10rem 0;
}

.button{
	background-color: $btn;
	border-radius: 8px;
	font-size: 1.2rem;
	padding: 2rem 2.7rem;
	color: $light;
	text-transform: uppercase;
	border: none;
	margin-top: 0.5rem;
	width: 100%;
	&:hover{
		cursor: pointer;
		background-color: darken($btn, 7%);
	}
	&:active{
		border: none;
		outline: none;
		background: $btn;
	}
	&:focus{
		background: $btn;
		border: none;
		outline: none;
		box-shadow: none;
	}
	&:visited{
		border: none;
		outline: none;
	}
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
	background: $btn;
	border: none;
	&:focus{
		box-shadow: none;
	}

}

.telephone{
		text-transform: uppercase;
		@include bold();
		font-size: 2rem;
		color: $text;
}
.link-green{
	color: $icon;
	border-bottom: 2px dashed;
	&:hover{
		color: darken($icon, 15%);
	}
}
.form{
	background: $light;
	text-align: center;
	padding: 4.5rem 4rem;
	margin-bottom: 3.6rem;
	h2{
		font-size: 1.8rem;
		margin-bottom: 4rem;
	}
	label{
		position: absolute;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		padding: 0.5rem;
		font-size: 1.3rem;
		background-color: $light;
	}
	input, textarea{
		display: block;
		margin: 2.5rem 0;
		width: 100%;
		padding: 1.5rem;
		height: 5.5rem;
		border: 1px solid $border-input;
		border-radius: 5px;
		font-size: 1.6rem;
		&[type="submit"]{
			font-size: 1.4rem;
		}
	}
	
	span{
		font-size: 1.2rem;
		margin-top: 1.5rem;
	}
}

.title{
	color: $text;
	text-align: center;
	margin: -3.5rem 0 3rem;
			h2{
				font-size: 3.6rem;
				@include bold;
			}
			p{
				margin-top: 4rem;
				font-size: 1.6rem;
				@include reg;
			}
}

.header{
	padding: 3rem 0 5rem;
	background: url(../img/header/bg-fon.jpg) center no-repeat;
	background-size: cover;
	&-het{	
		&-tel{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		
			display: block;
			font-size: 2rem;
			@include bold();
			text-align: right;
			a{
				color: $text;
			}
		}
		&-btn{
			text-align: right;
		}
	}
	&-main{
		margin-top: 10rem;
		span{
			text-align: center;
			font-size: 1.2rem;
		}
	}
	&-info{
		font-size: 2.4rem;
		h1{
			text-transform: uppercase;
			@include bold;
			font-size: 4rem;
		}
		&-price{
			display: inline-block;
			width: 22.5rem;
			padding: 2rem 4rem;
			background-color: $icon;
			font-size: 1.8rem;
			color: $light;
		}
		h2{
			text-transform: uppercase;
		}
	}
}

.advantages{
	background: $bg-fon;
	&-block{
		&-slider{
			&-item{
				display: inline-block;
				text-align: center;
				&-img{
					height: 8rem;
					margin-bottom: 4.5rem;
					img{
						height: 100%;
						display: block;
						margin: 0 auto;
					}
				}
				h3{
					@include bold();
					font-size: 2rem;
					margin-bottom: 3rem;
				}
				p{font-size: 1.5rem;
				}
			}
		}
	}
}

.price{
	background: url(../img/price/bg-fon.png) center no-repeat;
	background-size: cover;
	&-title{
		color: $light;
		h2{
			margin: -2rem;
		}
	}
	&-zone{
		&-btn{
			margin-top: -3rem;
			width: 85%;
			padding: 1.5rem 3.5rem;
			font-size: 1.4rem;
		}
		&-blocks{
			margin-top: 5rem;
			&-block{
				margin: 1.5rem 0;
				background: $light;
				min-height: 63rem;
				padding: 1.4rem 0rem ;
				text-align: center;
				h3, p{	
					margin: 3.5rem;
					font-size: 1.8rem;
					@include bold;
				}
				&--img{
					img{
						max-width: 25rem;
						width: 100%;}
				}
				ul {
					font-size: 1.8rem;
					margin-left: -4rem;
					min-height: 14rem;
					li{
						list-style-type: none;
						padding-left: 0;
						margin-left: 0;
						&::before{
							content: '';
							display: inline-block;
							margin-right: 1rem;
							width: 2rem;
							height: 2rem;
							background: url(../img/ok.png) center no-repeat;
							box-sizing: 100%;
							vertical-align: middle;
						}
					}
				}
				button{
					width: 50%;
				}
			}
		}
	}
}

.reviews{
	background: $light url(../img/reviews/bg-fone.png) bottom left / 25% no-repeat ;
	&
	.s-slider{
		padding: 5rem 6rem; 
		box-shadow: 0px 12px 18px 0 rgba(0, 0, 0, 0.11);
		&-item{
			.fotorama{
				margin-left: 1px;
			}
			&-block{
				&-info{
					ul{
						margin: 0;
						padding: 0 0 3rem ;
						list-style: none;
						li{
							font-size: 1.6rem;
							line-height: 2.5;
						}
					}
				}
				&-fb{
					margin-right: 1px;
					h5{
						@include bold();
						font-size: 1.6rem;
					}
					p{
						border: 2px solid $icon-dark;
						padding: 2.3rem 2.3rem 2rem 2rem;
						font-size: 1.5rem;
					}
				}
			}
		}
	}
	&-form{
		margin-top: 7rem;
		.form{
			h2{
				@include bold;
				font-size: 2.2rem;
				margin-bottom: 2rem;
			}
		}
		&-paragraph{
			margin-bottom: -1rem;
		}
	}
}

.scheme{
	background: $light url(../img/scheme/bg-fon.png) no-repeat right -20% bottom -17rem / 55%;
	&-block{
		margin-top: 2rem;
		min-height: 26rem;
		h3{
			margin-bottom: 2rem;
			@include bold;
			font-size: 2.2rem;
		}
		p{
			font-size: 1.7rem;
		}
	}
}

.all_inclusive{
	background: $bg-fon;
	&-title{
		min-height: 15rem;
		h2{
			font-size: 4.5rem;
			color: $icon-dark;
			margin-bottom: -1.5rem;
		}
		p{
			font-size: 1.6rem;
		}
	}
	&-paragraph{
		margin-top: 2rem;
		min-height: 10rem;
		&-circle{
			display: inline-block;
			background: $icon-dark;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			&-border{
				position: relative;
				transform: translateY(-30%);
				display: inline-block;
				width: 5rem;
				height: 5rem;
				padding: 0.3rem;
				border: 2px solid $icon-dark;
				border-radius: 50%;
				text-align: center;
				line-height: 4rem;
				color: $light;
				@include bold();
				font-size: 1.9rem;
				vertical-align: top;
			}
		}
		&-info{
			margin-left: 1rem;
			display: inline-block;
			h3{
				@include bold();
				font-size: 1.6rem;
				margin-bottom: 0rem;
			}
			p{
				font-size: 1.3rem;
			}
		}
	}
}

.danger{
	position: relative;
	.woomen{
		position: absolute;
		left: 50%;
		width: 30rem;
		bottom: 3rem;
		margin-left: -19rem;
	}
	&-title{
		margin-bottom: 7rem;
	}
	&-blocks{
		h3{
			@include bold;
			font-size: 2.1rem;
			padding: 2.5rem ;
		}
		ul{
			padding: 0 2rem;
			list-style: none;
			li{
				&::before{
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 3rem;
				height: 4rem;
				}
				padding-left: 3.5rem;
				position: relative; 
				margin-bottom: 3rem;
				font-size: 1.5rem;
			}
		}
		&-bad{
			&-info{
				min-height: 37rem;
				border: 4px solid;
				border-color: rgba(49, 49, 49, 0.5);
			}
			ul{
				li{
					margin-bottom: 5rem;
				}
			}
			h3{
				opacity: 0.5;
			}
			li::before{
				background: url(../img/error.png) center no-repeat;
			}
		}
		&-good{
			&-info{
				min-height: 37rem;
				border: 4px solid;
				border-color: $icon-dark;
			}
			li::before{
				background: url(../img/ok.png) center no-repeat;
			}
		}
	}
}

.material{
	&-title{
		margin-top: -5rem;
	}
	&-block{
		text-align: center;
		p{
			@include reg;
			font-size: 1.9rem;
			margin: 5rem 0 ;
		}
		.advantages-block-slider{
			&-item{
				position: relative;
				height: 35rem;
				&-img{
					height: 17rem;
				}
				p{
					margin: -1rem 0 2rem;
				}
				a{
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					font-size: 1.6rem;
				}
			}
		}
	}
}

.tour{
	background: url(../img/tour/bg-fon.jpg) center left 60% no-repeat;
	&-blocks{
		&-title{
			margin-top: 4rem;
			text-align: left;
			h2{
				font-size: 4rem;
				@include bold();
			}
			p{
				font-size: 2.2rem;
			}
		}
		&-form{
			&-btn.button{
				padding: 0;
				margin: 0;
			}
		}
	}
}

.additional{
	padding: 1rem 0 7rem;
	background-color: $bg-Additional_services;
	color: $light;
	&-title{
		margin-top: 4rem;
		color: $light;
		h2{
			margin-bottom: -1.5rem;
		}
		p{
			font-size: 1.9rem;
		}
	}
	&-blocks{
		&-block{
			padding: 2rem;
			&--img{
				img{
					width: 100%;
					height: 100%;
					max-height: 20rem;
					max-width: 31rem;
				}
			}
			p{
				@include bold();
				font-size: 1.9rem;
				margin: 2.4rem;
			}
			&--btn{
				width: 55%;
			}
		}
	}
}

.contacts{
	background: url(../img/contacts/bg-fon.png) center no-repeat;
	&-main{
		&-info{
			h2{
				font-size: 3.6rem;
				@include bold();
			}
			p{
				font-size: 1.8rem;
				margin: 2rem;
				a{
					color: $text;
					border-bottom: 1px dashed ;
					&:hover{
						border-bottom: 1px solid;
						color: lighten($text, 50%);
					}
					
				}
			}
		}
		&-form{
			padding: 1rem;
			textarea{
				height: 8rem;
			}
			&-btn{
				font-size: 1.1rem;
			}
		}
	}
}

.footer{
	&-sections{
		&-center{
			text-align: center;
			font-size: 1.7rem;
			a{
				color: $text;
				border-bottom: 1px dashed;
				&:hover{
					border-bottom: 1px solid;
					color: lighten($text, 50%);
				}
			}
		}
		&-right{
			text-align: right;
		}
	}
}

/* *style for modal windows */
.modal{
	&-content{

		left: 50%;
		top: 15%;
		transform: translateX(-50%);
		justify-items: center;
		text-align: center;
		padding: 2rem 3rem; 
		width: 70%;

	}
	&-body{
		.close{
			position: relative;
			font-size: 3rem;
			right: -7rem;
			top: -3.8rem;
			color: $light;
		}
		&-form{
			padding: 0;
			textarea{
				height: auto;
			}
		}
		h3{
			margin-top: 1rem;
		}
		h3, p{
			color: $text;
			font-size: 2rem;
		}
	}
	&-footer{
		border: none;
	}
}



@media (max-width: 1199px){
	.price{
		&-zone{
			&-header{
				margin-bottom: -4rem;
			}
			&-blocks{
				&-block{
					min-height: 53rem;
					h3{
						min-height: 4rem;
						margin: 2rem;
					}
					p{margin: 1.4rem;}
					ul{
						font-size: 1.5rem;
						margin: -1rem 0 -1rem -4rem;
					}
				}
			} 
		} 
	}
	.reviews{
		background: $light url(../img/reviews/bg-fone.png) bottom right / 28% no-repeat ;
	}
	.scheme{
		background: $light url(../img/scheme/bg-fon.png) no-repeat right -70% bottom -12rem / 65%;
	}
	.danger{
		&-blocks{
			ul{
				min-height: 43rem;
			}
		} 
	}
	.additional-blocks-block--btn-center{
		margin-top: 3.5rem;
	}
}

@media (max-width: 991px){
	.reviews{
		background: $light ;
	}
	.scheme{
		background: $light url(../img/scheme/bg-fon.png) no-repeat right -80% bottom -12rem / 80%;
	} 
	.woomen{
		display: none;
	}
	.tour{
		padding: 5rem;
		background: url(../img/tour/bg-fon.jpg) center left 65% bo no-repeat;
	}
	input.button.tour-blocks-form-btn{
		font-size: 1.2rem;
	}
}

@media (max-width: 768px){
	.material{
		padding: 0;
	}
	.tour{
		background: none;
		background-image: linear-gradient(to bottom, $bg-fon, $bg-smok );
		&-blocks{
			&-title{
				text-align: center;
			}
		}
	}
	.contacts{
		background: none;
		&-main{
			&-info{
				text-align: center;
			}
		}
	}
	.footer{
		&-sections{
				text-align: center;
		}
	}
}

@media (max-width: 576px){
	.header{
		&-het{
			&-btn{
				width: 90%;
			}
		}
		&-main{
			text-align: center;
		}
	}
	.logo{
		img{
			width: 100%;
		}
	}
	.scheme{
		background: none;
		&-block{
			text-align: center;
		}
	}
}

@media (max-width: 450px){
	html{
		font-size: 7px;
	}
	.button{
		@include bold();
		font-size: 2rem;
		letter-spacing: 0.7px;
	}
}
