@font-face {
	font-family: 'Avenir Next Cyr_Medium';
	src: url('../fonts/AvenirNextCyr-Medium.eot');
	src: url('../fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirNextCyr-Medium.woff') format('woff'),
	url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
	@font-face {
		font-family: 'Bebas Neue_Bold';
		src: url('../fonts/BebasNeueBold.eot');
		src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BebasNeueBold.woff') format('woff'),
		url('../fonts/BebasNeueBold.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		}

		@mixin text {
			font-family: 'Avenir Next Cyr_Medium', serif;
		}
		@mixin title {
			font-family: 'Bebas Neue_Bold', serif;
		}

$text-strong: #fff;
$text-main: #212f3d;
$btn: #0eb595;
$separation: #465967;
$bg-input: #eff4f3;

html{
	@include text();
	color: $text-main;
	font-size: 10px;
}
.button{
	&__link{
		display: block;
		text-align: center;
		padding: 3rem;
		&:hover{
			color: $text-strong;
			text-decoration: none;
		}
	}
	height: 100%;
	width: 100%;
	max-width: 32rem;
	min-height: 7.5rem;
	border-radius: 7.5rem;
	background: $btn;
	border: none;
	outline: none;
	font-size: 1.8rem;
	color: $text-strong;
	&:hover{
		background: darken($btn, 5%);
	}
	&:focus{
		outline: none;
	}
	&:active{
		background: darken($btn, 3%);
	}
}

.title{
	@include title();
	h1{
		font-size: 10.6rem;
		line-height: 1.04;
		letter-spacing: 7.95px;
	}
	h2{
		font-size: 4.8rem;
		letter-spacing: 3px;
	}
}


.header{
	background: url(../img/header/bg-header.jpg) center no-repeat;
	background-size: cover;
	min-height: 108rem;
	color: $text-strong;
	&__het{
		padding-top: 3.6rem;
		&-name{
			font-size: 2.6rem;
			&::after{
				content: '';
				margin-left: 4rem;
				color: $separation;
				font-size: 2.2rem;
				border-right: 1.6px solid $separation;
				background-color: $separation;
			}
		}
		&-experience{
			font-size: 1.6rem;
		}
		&-phone{
			font-size: 2rem;
			color: $text-strong;
			&:hover{
				text-decoration: none;
				color: $btn;
			}
			&:active{
				color: $text-strong;
			}
		}
	}
	&__content{
		&-text{
			p{
				margin-top: 4rem;
				font-size: 2.7rem;
			}
		}
	}
	&__title{
		margin-top: 19rem;
	}
	&__btn{
		margin-top: 6rem;
	}
}

.network-icons{
	margin-top: 0.3rem;
	.network-icon__link{
		display: inline-block;
		height: 2rem;
		margin-left: 1rem;
		a{
			height: 100%;
			display: block;
			img{
				height: 100%;
			}
		}
		
	}
}

.why{
	&-answer{
		&__box{
			margin-top: 6.5rem;
			&-img{
				margin-bottom: 4.5rem;
				max-height: 8rem;
				img{
					height: 100%;
				}
			}
			p{
				font-size: 2rem;
				font-weight: 500;
			}
		}
	}
}

.story{
	background: url(../img/stoty/img-woman.png) 15% 0 no-repeat;
	&-mar{
		margin-top: 9rem;
	}
	&__title{
		margin: 14rem 0 5rem;
	}
	&__box{
		p{
			font-size: 2rem;
		}
	}
	&__btn{
		margin: 7rem 0 9rem;
		width: 70%;
		background: $text-strong;
		border: 2px solid $btn;
		color: $btn;
		font-size: 2rem;
		text-transform: uppercase;
		font-weight: 500;
		&:hover{
			background: $text-strong;
			border-color: darken($btn, 5%);
			color: darken($btn, 5%);
		}
		&:active{
			background: $text-strong;
			border-color: darken($btn, 3%);
			color: darken($btn, 3%);
		}
	}
}

.recording{
	padding-bottom: 8rem;
	&-text{
		margin-top: 4rem;
		@include text();
		font-size: 2rem;
		text-transform: none;
	}
	&-box{
		margin-top: 9rem;
	}
	&-form{
		margin-top: 3rem;
		&__text{
			margin: 3rem ;
			font-size: 1.4rem;
			color: $btn;
			a{
				color: $btn;
				text-decoration: underline;
				&:hover{
					color: darken($btn, 5%);
					text-decoration: none;
				}
				&:active{
					color: darken($btn, 3%);
				}
			}
		}
	}
}

.form{
	input{
		background: $bg-input ;
		width: 100%;
		height: 6rem;
		margin-top: 2rem;
		padding: 2.5rem;
		border: none;
		border-radius: 10px;
		font-size: 1.6rem;
		&:focus{
			outline: none;
			border: 1px solid $btn;
		}
	}
	.button .recording-btn{
		top: 0;
		max-height: 7rem;
		margin-top: 6rem;
	}
}

.footer{
	position: relative;
	height: 87rem;
	background: url(../img/footer/bg-footer.jpg) center no-repeat;
	background-size: cover;
	&-title{
		padding-top: 10rem; 
		color: $text-strong;
	}
	&__network-icons{
		margin-top: 8rem;
		.network-icon__link{
			a{
				height: 40%;
				margin: 5rem;
				width: 8rem;
				height: 8rem;
				border: 2px solid $text-strong;
				border-radius: 50%;
				img{
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					height: 40%;
				}
				&:hover{
					border-color: darken($btn, 5%);
				}
				&:active{
					border-color: darken($btn, 3%);
				}
			}
		}
	}
	&-foot{
		position: relative;
		bottom: -49rem;
		font-size: 2rem;
		color: rgba(255, 255, 255, 0.3);
		p{
			width: 49%;
			display: inline-block;
		}
		&__right{
			text-align: right;
		}
	}
}

.parallax{
	position: absolute;
	z-index: 2;
	max-height: 70rem;
	height: 100%;
	.rellax{
		height: 75%;
	}
	&-rigth{
		z-index: 10;
		right: 0;
	}
}
/* !swal */
.swal-text {
  margin: 2rem;
	text-align: center;
	@include text();
  color: $text-main;
}
.swal-button {
  padding: 7px 19px;
  border-radius: 20px;
  background-color: $btn;
  font-size: 12px;
  border: 1px solid $btn;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
	&:hover{
		background-color: darken($btn, 5%) !important;
	}
	&:active{
		background-color: darken($btn, 3%);
	}
}


@media (max-width: 1470px){
	.parallax{
		.rellax{
		height: 68%;
		}
	}
	
}
@media (max-width: 1200px){
	html{
	font-size: 9px;
	}
	.header{ 
		background: url(../img/header/bg-header.jpg) 65% 0 / 190rem no-repeat;
		&__het{
			&-phone{
				display: block;
				text-align: center;
			}
		} 
	}
	.parallax{
		.rellax{
			height: 65%;
		}
	}
	.footer{
		&-foot{
			width: 90%;
		}
	}
}
@media (max-width: 990px){
	html{
		font-size: 8px;
	}
	h1{
		margin-top: -9rem;
	}
	.story{
		margin-top: 0;
		background: url(../img/stoty/img-woman.png) 15% 70% / 70rem no-repeat;
	}
	.parallax-rigth{
		display: none;
	}
}
@media (max-width: 769px){
	html{
		font-size: 7px;
	}
	.header{
		&__content{
			margin-left: -7rem;
		}
		.title{
			margin-top: 10rem;
			h1{font-size: 9rem;}
		} 
		&__het{
			&-phone{
				font-size: 2.4rem;
			}
		} 
	}
	.network-icons{
		margin: -2rem 0 0 1rem;
		.network-icon__link{
			height: 3rem;
		}
	}
	.story{
		background: url(../img/stoty/img-woman.png) 0 10% / 60rem no-repeat;
		&__btn{
			margin-left: 5rem;
		}
		&__title{
			margin-top: 6rem;
		}
	}
	.footer__network-icons{
		.network-icon__link{
		margin-top: 4rem;
		}
	}
	
	.footer-foot{
		top: 42rem;
	}
}
@media (max-width: 630px){
	.header{
		&__content{
			margin-left: 0;
		}
	}
}

@media (max-width: 576px){
	.network-icons{
		margin: 0 0 0 0;
		text-align: right;
		.network-icon__link{
			height: 3rem;
		}
	}
	.header{
		&__het{
			&-name{
				&::after{
					content: '';
					margin-left: 0.1rem;
				}
			}
			&-phone{
				text-align: right;
				font-size: 2.4rem;
			}
		} 
		.parallax{
			display: none;
		}
	}
	.story{
		background: url(../img/stoty/img-woman_opacity.png) 15% 0% / 55rem no-repeat;
	}
	.footer{
		background: url(../img/footer/bg-footer.jpg) 45% 0 no-repeat;
		background-size: cover;
		&__network-icons{
			text-align: center;
		}
	}
}
