@font-face {
  font-family: 'Avenir Next Cyr_Medium';
  src: url("../fonts/AvenirNextCyr-Medium.eot");
  src: url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue_Bold';
  src: url("../fonts/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Avenir Next Cyr_Medium', serif;
  color: #212f3d;
  font-size: 10px;
}

.button {
  height: 100%;
  width: 100%;
  max-width: 32rem;
  min-height: 7.5rem;
  border-radius: 7.5rem;
  background: #0eb595;
  border: none;
  outline: none;
  font-size: 1.8rem;
  color: #fff;
}

.button__link {
  display: block;
  text-align: center;
  padding: 3rem;
}

.button__link:hover {
  color: #fff;
  text-decoration: none;
}

.button:hover {
  background: #0c9d82;
}

.button:focus {
  outline: none;
}

.button:active {
  background: #0da789;
}

.title {
  font-family: 'Bebas Neue_Bold', serif;
}

.title h1 {
  font-size: 10.6rem;
  line-height: 1.04;
  letter-spacing: 7.95px;
}

.title h2 {
  font-size: 4.8rem;
  letter-spacing: 3px;
}

.header {
  background: url(../img/header/bg-header.jpg) center no-repeat;
  background-size: cover;
  min-height: 108rem;
  color: #fff;
}

.header__het {
  padding-top: 3.6rem;
}

.header__het-name {
  font-size: 2.6rem;
}

.header__het-name::after {
  content: '';
  margin-left: 4rem;
  color: #465967;
  font-size: 2.2rem;
  border-right: 1.6px solid #465967;
  background-color: #465967;
}

.header__het-experience {
  font-size: 1.6rem;
}

.header__het-phone {
  font-size: 2rem;
  color: #fff;
}

.header__het-phone:hover {
  text-decoration: none;
  color: #0eb595;
}

.header__het-phone:active {
  color: #fff;
}

.header__content-text p {
  margin-top: 4rem;
  font-size: 2.7rem;
}

.header__title {
  margin-top: 19rem;
}

.header__btn {
  margin-top: 6rem;
}

.network-icons {
  margin-top: 0.3rem;
}

.network-icons .network-icon__link {
  display: inline-block;
  height: 2rem;
  margin-left: 1rem;
}

.network-icons .network-icon__link a {
  height: 100%;
  display: block;
}

.network-icons .network-icon__link a img {
  height: 100%;
}

.why-answer__box {
  margin-top: 6.5rem;
}

.why-answer__box-img {
  margin-bottom: 4.5rem;
  max-height: 8rem;
}

.why-answer__box-img img {
  height: 100%;
}

.why-answer__box p {
  font-size: 2rem;
  font-weight: 500;
}

.story {
  background: url(../img/stoty/img-woman.png) 15% 0 no-repeat;
}

.story-mar {
  margin-top: 9rem;
}

.story__title {
  margin: 14rem 0 5rem;
}

.story__box p {
  font-size: 2rem;
}

.story__btn {
  margin: 7rem 0 9rem;
  width: 70%;
  background: #fff;
  border: 2px solid #0eb595;
  color: #0eb595;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.story__btn:hover {
  background: #fff;
  border-color: #0c9d82;
  color: #0c9d82;
}

.story__btn:active {
  background: #fff;
  border-color: #0da789;
  color: #0da789;
}

.recording {
  padding-bottom: 8rem;
}

.recording-text {
  margin-top: 4rem;
  font-family: 'Avenir Next Cyr_Medium', serif;
  font-size: 2rem;
  text-transform: none;
}

.recording-box {
  margin-top: 9rem;
}

.recording-form {
  margin-top: 3rem;
}

.recording-form__text {
  margin: 3rem;
  font-size: 1.4rem;
  color: #0eb595;
}

.recording-form__text a {
  color: #0eb595;
  text-decoration: underline;
}

.recording-form__text a:hover {
  color: #0c9d82;
  text-decoration: none;
}

.recording-form__text a:active {
  color: #0da789;
}

.form input {
  background: #eff4f3;
  width: 100%;
  height: 6rem;
  margin-top: 2rem;
  padding: 2.5rem;
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
}

.form input:focus {
  outline: none;
  border: 1px solid #0eb595;
}

.form .button .recording-btn {
  top: 0;
  max-height: 7rem;
  margin-top: 6rem;
}

.footer {
  position: relative;
  height: 87rem;
  background: url(../img/footer/bg-footer.jpg) center no-repeat;
  background-size: cover;
}

.footer-title {
  padding-top: 10rem;
  color: #fff;
}

.footer__network-icons {
  margin-top: 8rem;
}

.footer__network-icons .network-icon__link a {
  height: 40%;
  margin: 5rem;
  width: 8rem;
  height: 8rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.footer__network-icons .network-icon__link a img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40%;
}

.footer__network-icons .network-icon__link a:hover {
  border-color: #0c9d82;
}

.footer__network-icons .network-icon__link a:active {
  border-color: #0da789;
}

.footer-foot {
  position: relative;
  bottom: -49rem;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.3);
}

.footer-foot p {
  width: 49%;
  display: inline-block;
}

.footer-foot__right {
  text-align: right;
}

.parallax {
  position: absolute;
  z-index: 2;
  max-height: 70rem;
  height: 100%;
}

.parallax .rellax {
  height: 75%;
}

.parallax-rigth {
  z-index: 10;
  right: 0;
}

/* !swal */
.swal-text {
  margin: 2rem;
  text-align: center;
  font-family: 'Avenir Next Cyr_Medium', serif;
  color: #212f3d;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 20px;
  background-color: #0eb595;
  font-size: 12px;
  border: 1px solid #0eb595;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button:hover {
  background-color: #0c9d82 !important;
}

.swal-button:active {
  background-color: #0da789;
}

@media (max-width: 1470px) {
  .parallax .rellax {
    height: 68%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }
  .header {
    background: url(../img/header/bg-header.jpg) 65% 0/190rem no-repeat;
  }
  .header__het-phone {
    display: block;
    text-align: center;
  }
  .parallax .rellax {
    height: 65%;
  }
  .footer-foot {
    width: 90%;
  }
}

@media (max-width: 990px) {
  html {
    font-size: 8px;
  }
  h1 {
    margin-top: -9rem;
  }
  .story {
    margin-top: 0;
    background: url(../img/stoty/img-woman.png) 15% 70%/70rem no-repeat;
  }
  .parallax-rigth {
    display: none;
  }
}

@media (max-width: 769px) {
  html {
    font-size: 7px;
  }
  .header__content {
    margin-left: -7rem;
  }
  .header .title {
    margin-top: 10rem;
  }
  .header .title h1 {
    font-size: 9rem;
  }
  .header__het-phone {
    font-size: 2.4rem;
  }
  .network-icons {
    margin: -2rem 0 0 1rem;
  }
  .network-icons .network-icon__link {
    height: 3rem;
  }
  .story {
    background: url(../img/stoty/img-woman.png) 0 10%/60rem no-repeat;
  }
  .story__btn {
    margin-left: 5rem;
  }
  .story__title {
    margin-top: 6rem;
  }
  .footer__network-icons .network-icon__link {
    margin-top: 4rem;
  }
  .footer-foot {
    top: 42rem;
  }
}

@media (max-width: 630px) {
  .header__content {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .network-icons {
    margin: 0 0 0 0;
    text-align: right;
  }
  .network-icons .network-icon__link {
    height: 3rem;
  }
  .header__het-name{
  font-size: 2.3rem;
  }
  .header__het-name::after {
    content: none;
    margin-left: 0.1rem;
  }
  .header__het-phone {
    text-align: right;
    font-size: 2.4rem;
  }
  .header .parallax {
    display: none;
  }
  .story {
    background: url(../img/stoty/img-woman_opacity.png) 15% 0%/55rem no-repeat;
  }
  .footer {
    background: url(../img/footer/bg-footer.jpg) 45% 0 no-repeat;
    background-size: cover;
  }
  .footer__network-icons {
    text-align: center;
  }
}
